<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Notice Board Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
      
    <div class="login-container">
        <h1>University Notice Board</h1>
        <form action="/login" method="POST">
            <div class="input-group">
                <img src="{{ url_for('static', filename='user.png') }}" height="32px" width="32px"> 
                <span class="input-text">Email :</span>
                <input type="email" id="email" name="email" required placeholder="Enter your Email">
            </div>
            <div class="input-group">
                <img src="{{ url_for('static', filename='padlock.png') }}" height="32px" width="32px"> 
                <span class="input-text">Password :</span>
                <input type="password" id="password" name="password" required placeholder=" Enter your Password">
            </div>
            <div class="button-container">
                <button type="submit">Login</button>
                <button id="registerBtn">Register</button>
            <script>
                document.getElementById("registerBtn").addEventListener("click", function () {
                    window.location.href = "{{ url_for('register_page') }}";
                });
            </script>
            </div>
            <p class="message"><a href="{{ url_for('recovery') }}">forget password?</a></p>
        </form>
    </div>
    
</body>
</html>